/*-- scss:defaults --*/

// Colors
$dark-green: #586028;
$weird-green: #898928;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #9DA7BF;
$darkgray: #616571;
$lightblue: #55CFD8;
$blue:  #00A1B7;
$darkblue: #006475;
$purple: #9158A2;
$orange: #ad7237;


// Base document colors
$navbar-bg: $blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $lightblue; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $darkgray; // page text 
$footer-bg: $cream; // footer 
$link-color: $dark-green; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$input-bg: $cream; // background color for html inputs
$code-color: $purple; // inline code text color
$code-annotation-higlight-color: $orange; // The color used as a border on highlighted lines

/*-- scss:rules --*/
/*-- scss:rules --*/
/* Table styles */

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are clear and consistent */
}

/* Prevent wrapping in the first column of a table */

table td:nth-child(1),
table td:nth-child(2) {
    white-space: nowrap;
}

th, td {
    padding: 10px; /* Adds some padding for better readability */
    border: 1px solid #ddd; /* Defines clear boundaries between columns */
    text-align: left; /* Aligns text to the left */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Light grey background for even rows */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
}

th {
    background-color: #4CAF50; /* Green background for header row */
    color: black; /* White text color for header row */
}


.quarto-title-meta-heading::before {
    content: "Due Date";
}

.quarto-title-meta-heading {
    visibility: hidden;
    position: relative;
}

.quarto-title-meta-heading::before {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
}